<head>
    <link href="~/StyleSheet.css"/>
</head>
<body>
    <h1>TIME</h1>
    <form method="post">
        <label for="startYear">Start</label>
        <input placeholder="Start" id="startYear" name="startYear" />
        <label for="endYear">End</label>
        <input placeholder="End" id="endYear" name="endYear" />
        <button type="submit">Submit</button>
        <h3>Which years will YOU choose?</h3>
    </form>
</body>