<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <main>
        <h1 id="mainTitle">TIME</h1>
        <form method="post">
            <input type=number min=1927 max=2016 placeholder="Start" id="startYear" name="startYear" />
            <input type=number min=1927 max=2016 placeholder="End" id="endYear" name="endYear" />
            <button type="submit">Submit</button>
            <h3>Which years will YOU choose?</h3>
        </form>
    </main>
</body>