<head>
    <link href="~/StyleSheet.css"/>
</head>
<body>
    <h1>TIME</h1>
    <form method="post">
        <label for="yearOne">Start</label>
        <input placeholder="Start" id="yearOne" name="yearOne" />
        <label for="yearTwo">End</label>
        <input placeholder="End" id="yearTwo" name="yearTwo" />
        <button type="submit">Submit</button>
        <h3>Which years will YOU choose?</h3>
    </form>
</body>