@model List<PersonOfTheYear.Models.Person>

<head>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
    <main class="results">
        <h1 id="resultTitle">Results</h1>
        <!--<a href="@Url.Action("Index")">Home</a>-->
        <a asp-controller="Home" asp-action="Index">Home</a>
        <table>
            <tr><th>Name</th><th>Title</th><th>Year</th></tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Title</td>
                    <td>@item.Year</td>
                </tr>
            }
        </table>
    </main>

</body>
