@model List<PersonOfTheYear.Models.Person>

<head>
    <link href="~/StyleSheet.css" />
</head>
<body>
    <h1>Results</h1>
    <a href="@Url.Action("Index")">Home</a>
    <ul>
        <li><span>Name</span><span>Title</span><span>Year</span></li>
        @foreach (var item in Model)
        {
            <li>
                <span>@item.Name</span>
                <span>@item.Title</span>
                <span>@item.Year</span>
            </li>
        }
    </ul>
</body>
